<html>
    <head>
        <title>Remote Control Thief</title>
        <link rel='stylesheet' type='text/css' href='/stylesheets/style.css'>
        <link rel='stylesheet' type='text/css' href='/stylesheets/bootstrap.min.css'>
    </head>
    <body>
        <div id='container'>
            <h1>Remote Control Thief</h1>
            <p>Please choose your desired mode:</p>
            <ul>
                <li><a href='/watch'>Watch only</a></li>
                <li><a href='/control'>Control only</a></li>
                <li><a href='/watch/and/control'>Watch and control</a></li>
            </ul>
            <p>If you have not yet registered, please sign in below:</p>
            <p><a href='/register'>Register</a></p>
        </div>
    </body>
</html>
