<!DOCTYPE html>
<html>
    <head>
        <title>Remote Control Thief</title>
        <link rel='stylesheet' type='text/css' href='/stylesheets/style.css'>
        {{#if watch}}
            <link rel='stylesheet' type='text/css' href='/stylesheets/watch-viewer.css'>
        {{else}}
            <link rel='stylesheet' type='text/css' href='/stylesheets/control-only-viewer.css'>
        {{/if}}
        <script type='text/javascript'>
            isControlSet = {{control}};
            isWatchSet = {{watch}};
        </script>
        <script src='https://cdn.socket.io/socket.io-1.3.5.js'></script>
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <script src='https://www.youtube.com/iframe_api'></script>
        <script src='/js/handlebars-v3.0.3.js'></script>
        <script src='/js/client.js'></script>
        <script src='/js/client-listeners.js'></script>
    </head>
    <body>
        <div id='container'>
            <h1>Remote Control Thief</h1>

            <div id='viewer-container'>
                {{#if watch}}
                    <div id='player'></div>
                {{/if}}

                <span id='playlist'>
                </span>
            </div>

            <hr />

            <div id='controls-container'>
                <div id='controls'>
                    {{#if control}}
                        <p>Video ID: <input type='text' id='video-id-to-send' /></p>
                        <button id='send-video-button'>Submit video</button>
                    {{/if}}
                    {{#unless watch}}
                        <button id='pause-video-button'>Pause video</button>
                        <button id='play-video-button'>Play video</button>
                    {{/unless}}
                    <div id='message-preparation'>
                        <p>Username: <input type='text' id='username' /></p>
                        <p>Message: <input type='text' id='message-to-send' /></p>
                        <button id='send-message-button'>Send message</button>
                    </div>
                </div>

                <div id='chatbox-container'>
                    <div id='chatbox'>
                    </div>
                </div>
            </div>

            <div id='search-container'>
                <p>Search on YouTube for: <input type='text' id='search-query-to-send' /></p>
                <button id='search-youtube-button'>Search YouTube</button>
                <div id='search-results'>
                </div>
            </div>
        </div>
    </body>
</html>
