<div class='playlist-item'>
    <p>{{title}}</p>
    <button class='vote-to-skip-button btn btn-default btn-sm' data-unique-id='{{videoId}}'>Vote to skip</button> {{#if numberOfSkipUsers}}Votes: {{numberOfSkipUsers}}/{{totalNumberOfUsers}}{{/if}}
</div>
