<html>
    <head>
        <title>Remote Control Thief</title>
        <link rel='stylesheet' type='text/css' href='/stylesheets/style.css'>
        <link rel='stylesheet' type='text/css' href='/stylesheets/bootstrap.min.css'>
    </head>
    <body>
        <div id='container'>
            <h1>Remote Control Thief</h1>
            <p>Please register below:</p>
            <form>
                <div class='form-group'>
                    <label for='username'>Username (and display name)</label>
                    <input type='text' id='username' />
                </div>
                <div class='form-group'>
                    <label for='password'>Password</label>
                    <input type='password' id='password' />
                </div>
                <div class='form-group'>
                    <label for='repeat-password'>Repeat password</label>
                    <input type='password' id='repeat-password' />
                </div>
                <button id='register-button' class='btn btn-default'>Register</button>
            </form>
        </div>
    </body>
</html>
